<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<header th:insert="blocks/header :: header"></header>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

    <h1 class="text-left">Зачем вести дневник</h1><br>
        <h4 class="cover-heading">
            Цель дневника — выявить пищевые продукты, являющиеся причиной аллергического заболевания. Лучше всего на время ведения дневника придерживаться элиминационной диеты или хотя бы диеты, из которой уже исключены продукты, вызывающие аллергию, а также облигатные аллергены (см. рекомендации по питанию при аллергических заболеваниях). Если при диете обострение заболевания не раз совпадало с приемом определенных продуктов, их исключают из рациона на срок не менее 2 недель. Если при ежедневном употреблении вновь введенного продукта аллергия не обостряется, через 4 дня вводят другой исключенный ранее продукт.
        </h4>

</div>
<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>