<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление записи</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div class="container mt-5 mb-5">

    <h1>Добавление записи</h1><br>
    <form action="/journal/add" method="post">
        <input type="datetime-local" name="dateTime"  class="form-control"><br>
        <input type="text" name="products" placeholder="Продукты" class="form-control"><br>
        <input type="text" name="symptoms" placeholder="Сиптомы" class="form-control"><br>
        <input type="text" name="medicines" placeholder="Медикаменты" class="form-control"><br>
        <button type="submit" class="btn btn-success">Добавить запись</button>
    </form>

</div>

<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>